/* ----------------------------
            RESET
------------------------------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

/* ----------------------------
            DEBUG
------------------------------ */

/* .debug .header-top {
    background-color: #add8e6;
}
.debug .header-bottom {
    background-color: #00008b;
}
.debug .header-top > .container {
    background-color: #daa520; 
}
.debug .header-top .logo,
.debug .header-top .main-nav,
.debug .header-top .login {
    border: 1px dashed black;
}
.debug .header-bottom .hero {
    min-height: 400px;
    background-color: #ee82ee;
    border: 1px dashed black;
}

.debug .col-big {
    background-color: #1e90ff;
    border: 1px dashed black;
}
    
.debug .col-small {
    background-color: #ffc0cb;
    border: 1px dashed black;
}
.debug section > .container {
    min-height: 400px;
}
.debug section:last-child > .container {
    background-color: #228b22;
    border: 1px dashed black;
    min-height: 800px;
}

.debug .footer-top > .container {
    min-height: 500px;
}
    
.debug .footer-top .col-small {
    background-color: #f08080;
}
    
.debug .footer-top .col-big {
    background-color: #20b2aa;
}
.debug .footer-top .col-big > .col-inner {
    border: 1px dashed #fff;
}

.debug .footer-bottom > .container {
    background-color: #7fffd4;
}
.debug .footer-bottom .logo,
.debug .footer-bottom .btn {
    border: 1px dashed black;
    background-color: #ffb6c1; 
} 
*/


/*-----------
    GENERAL
------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.bg-gray {
    background-color: #d3d3d3;
}

body{
    line-height: 1.7;
}

h1{
    font-size: 40px;
    line-height: normal;
}

.logo{
    cursor: pointer;
}

/*-----------
    button
------------*/

.btn{
    border-radius: 20px;
    padding: 8px 15px;
    background-color: transparent;
    border: none;
}

.btn-big{
    padding: 12px 22px;
    font-size: 16px;
}

.btn i{
    margin-right: 6px;
}

.btn-white{
    background-color: #ffffff;
    cursor: pointer;
}

.btn-white:hover{
    color: #255EE9;
}

.hero-buttons .btn-white:hover{
    color: #4B79F3;
}



.btn-black{
    background-color: #23272a;
    color: #ffffff;
}

.btn-black:hover{
    background-color: #393d41;
    cursor: pointer;
}

.btn-purple{
    background-color: #6D83D0;
    color: #ffffff;
}

.btn-purple:hover{
    background-color: #8EA1E1;
    cursor: pointer;
}




/*-----------
    HEADER
------------*/
header{
    color: white;
}

.header-top {
    padding: 16px 0;
    background-color: #255EE9;
}

.header-bottom {
    padding: 150px 0;
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-size: cover;
}

.header-top > .container {
    display: flex;
    align-items: center;
}

.header-top .logo,
.header-top nav,
.header-top .login {
    padding: 6px;
}

.header-top .logo, .header-top .login {
    width: 20%;
}

.header-top .login {
    text-align: right;
}

.header-top .main-nav {
    width: 60%;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 45px
}

.main-nav ul a {
    text-decoration: none;
    color: inherit
}

.main-nav ul a:hover{
        text-decoration: underline;
        color: #ffffff;
}

/* header bottom */

.header-bottom .hero {
    max-width: 600px;
    text-align: center;
}

.header-bottom .hero p{
    margin-top: 30px;
    margin-bottom: 16px;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*-----------
    MAIN
------------*/
section {
    padding: 50px 0;
}

section:nth-child(2n) {
    background-color: #f6f6f6;
}

section > .container {
    display: flex;
    /* gap: 50px; */
}



section .col-big {
    width: 60%;
}

section h1{
    margin-bottom: 15px;
}

section .col-small {
    width: 40%;
    margin-top: 35px;
    padding: 0 100px;
    align-items: center;
}

.last-section{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: none;
}

.last-section h2{
    margin-bottom: 15px;
}



/*-----------
    FOOTER
------------*/
footer {
    background-color: #23272a;
}
.footer-top {
    padding-top: 80px;
    padding-bottom: 30px;
}
.footer-top > .container {
    display: flex;
}


.footer-top .col-small {
    width: 30%;
    padding-right: 150px;
}

.footer-top .col-small > nav{
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-top: 20px;
}


.col-small h2{
    color: #6d83d0;
}

.icon .fa-brands{
    margin-right: 15px;
    color: #ffffff;
}

#lang{
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
}

#lang option{
    background-color: #23272A;
}


.footer-top .col-big {
    width: 70%;
    display: flex;
}
.footer-top .col-big > .col-inner {
    width: 25%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    
}

#bandiera{
    height: 14px;
}

.col-inner a{
    margin-top: 5px;
    text-decoration: none;
    color: #ffffff;
}

.col-inner h3{
    color: #6d83d0;
}

/* footer bottom */
.footer-bottom {
    padding-bottom: 50px;
}
.footer-bottom > .container {
    border-top: 2px solid #4a5882;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    
}
.footer-bottom .logo,
.footer-bottom .btn {
    padding: 6px 14px;
}

.footer-bottom .btn{
    color: #ffffff;
    background-color: #6D83D0;
    cursor:pointer;
}
.footer-bottom .btn:hover{
background-color: #8EA1E1;
}

a:hover{
    text-decoration: underline;
    color: #ffffff;
}